*

# ----------------------------------------
# custom
# ----------------------------------------

# ----------------------------------------


# ----------------------------------------
# common
# ----------------------------------------
# directories
!/src/
!/src/**/
!/test/
!/test/**/
!/bin/
!/bin/**/
!/conf/
!/conf/**/
!/doc/
!/doc/**/
!/lib/
!/lib/**/
!/assets/
!/assets/**/


# proto
!*.proto
!*.fbs

# c/c++
!*.h
!*.hpp
!*.c
!*.cc
!*.cpp

# go
!*.go
!go.mod

# python
!*.py

# dart
!*.dart

# shell
!*.sh

# doc
!*.md

# conf
!*.yaml
!*.ini

# web
!*.ioc
!*.svg
!*.png
!*.jpg

# others
!.gitignore
!Makefile
!Dockerfile
!CMakeLists.txt
!*-config.cmake
